body{
    background-color:rgb(21, 5, 35);
}

.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
width: 800px;
border-radius:20px;

}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
  font-size: 3.5rem;
}
}

.b-example-divider {
width: 100%;
height: 3rem;
background-color: rgba(0, 0, 0, .1);
border: solid rgba(0, 0, 0, .15);
border-width: 1px 0;
box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
flex-shrink: 0;
width: 1.5rem;
height: 100vh;
}

.bd-mode-toggle {
z-index: 1500;
}

.project-image {
position: relative;
}

.project-overlay {
position: absolute;
top: 25px;
left: 33px;
right: 30px;
bottom: 25px;
background-color: rgba(0, 0, 0, 0.5);
display: flex;
align-items: center;
justify-content: center;
opacity: 1;
transition: opacity 0.3s ease;
transform: scale(1);
background-image: url("../../assets/images/novel-nexus.png");
background-size: cover;
background-repeat: no-repeat;

}
.project-image:hover .project-overlay {
/* opacity: 1; */
transform: scale(1);
}

.overlay-content {
color: #fff;
text-align: center;
}

.featurette-heading{
  text-align:center;
}
.row{
margin-top: 260px;
width:80vw;
}

.col-md-7{
  color: white;
  width:45%;
  margin-left: 50px;
  margin-top: 60px;
}

.ipad_border{
  border: 5px solid white;
}
.project-image {
transition: transform 0.3s ease;
}

.project-image:hover {
transform: rotate(0);
}



.col-md-5{
margin-right: 40px;
}
